<h2>Settings</h2>
<form action="" method="post" accept-charset="utf-8" id="set-blinds">
	<fieldset>
		<legend>set blinds values</legend>
		<div class="fix">
			<% @number_of_blinds.times do |i| %>
			<p>
				<label for="blinds[]">Level <%= i + 1 %></label>
				<input type="text" name="blinds[]" value="">
			</p>
			<% end %>
			
		</div>
		<input type="submit" value="Save" style="width: 90px">
	</fieldset>
</form>

<form action="" method="post" accept-charset="utf-8" id="set-timer">
	<fieldset>
		<legend>set countdown</legend>
		<div class="fix">
			<p>
				<label for="minutes">Minutes</label>
				<input type="text" name="minutes" value="">
			</p>
		</div>
		<input type="submit" value="Save" style="width: 90px">
	</fieldset>
</form>