<div id="timer"></div>
<section id="blinds">
	<h3>Blinds</h3>
	<span class="small"></span>/<span class="big"></span>
	<p class="level">Level <span class="level-number">1</span></p>
</section>
<div id="sound"></div>